<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="post-detail">
        <h1>{{ post.title }}</h1>
        <p class="meta">Post Nr.: {{ post.id }} - Written by <strong>{{ post.author }}</strong></p>
        <div class="content">
            <p>{{ post.content }}</p>
        </div>
    </div>

    <div class="button-container">
        <a class="new-post-button" href="/">Back to Blog</a>
    </div>

</body>
</html>